.info {
  color: deepskyblue;
}

.warning {
  color: darkorange;
}

.success {
  color: mediumspringgreen;
}

.error {
  color: darkred;
}

.haxorgreen {
  color: mediumspringgreen;
}

.txt-opacity-50 {
  opacity: .65;
}
