.margin-top-1 {
  margin-top: 1rem;
}

.margin-y-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.margin-top-2 {
  margin-top: 2rem !important;
}

.margin-right-0-5 {
  margin-right: .5rem;
}

.margin-left-sm {
  margin-left: .5rem;
}

.margin-left-1 {
  margin-left: 1rem;
}

.margin-left-auto {
  margin-left: auto;
}

.margin-left-med {
  margin-left: 1rem;
}

.margin-y-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.margin-bottom-0-25 {
  margin-bottom: .25rem;
}

.margin-right-0-25 {
  margin-right: .25rem;
}

.margin-right-0-5 {
  margin-right: .5rem;
}

.margin-auto {
  margin: 0 auto;
}

