.eth-bg {
  background: url("https://pentacle.xyz/images/eth-mb.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: -2px;
}

.sol-bg {
  background: url("https://pentacle.xyz/images/sol-mb.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: -2px;
}
