h1, h2, h3, h4 {
  color: _color(heading-1);
  margin: 0;
  padding: 0;
  font-weight: unset;
  //text-transform: lowercase;
  &.primary {
    color: _color(primary);
  }
  &.secondary {
    color: _color(secondary);
  }
  &.tertiary {
    color: _color(tertiary);
  }
}

h1 {
  font-family: _font(family-heavy);
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  letter-spacing: -0.05rem;
}

h2 {
  font-family: _font(family-heavy);
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem 0 .5rem 0;
}
h2.boxed {
  padding: .5rem 0 .25rem 0;
  margin: 0;
}

h3 {
  font-family: _font(family-default);
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem 0 .5rem 0;
  > span {
    font-size: 1.5rem;
  }
}
h3.boxed {
  padding: 0rem 0 .25rem 0;
  margin: 0;
}

h4 {
  font-family: _font(family-body);
  font-size: .75rem;
  padding-top: 1rem;
  padding-bottom: .5rem;
  border-bottom: 1px dotted rgba(255,255,255, .25);
  width: calc(100% - 1rem);
  margin-bottom: 1rem;
}


table, p, em, div, input {
  font-family: _font(family-body);
  font-size: _font(size-regular);
  margin: 0;
  padding: 0;
}

p {
  color: _color(body-text);
}

p + p {
  margin-top: .5rem;
}

.bold {
  font-family: _font(family-default);
}
.semibold {
  font-family: _font(family-default);
}
.regular {
  font-family: _font(family-default);
}
.medium {
  font-family: _font(family-default);
}
.light {
  font-family: _font(family-default);
}

.text-highlight {
  color: _color(tertiary);
}

.text-white {
  color: _color(white);
}


@media screen and (min-width: _breakpoint(step-one)) {
  h1 {
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  h2 {
    font-size: 1.35rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
