body {
  font-family: _font(family-default);
  color: _color(body-text);
  font-size: 16px;
  font-weight: unset;
  padding: 0;
  margin: 0;
  width: 100%;
  min-width: _breakpoint(step-min);
  background-color: _color(body-bg);
  background-image: url(../../images/pentaBgDark.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: _breakpoint(step-one)) {
  body {
    //background-image: url(../../images/pentaBgDarkVert.jpg);
    //background-size: 100% 100%;
  }
}
