.box-padding {
  padding: 1rem 1.5rem .75rem 1.5rem;
}

.box {
  background-color: _color(box-bg);
  border-radius: .25rem;
  box-sizing: border-box;

  &.link.primary {
    &:hover {
      border-color: _color(primary);
    }
  }
  &.link.secondary {
    &:hover {
      border-color: _color(secondary);
    }
  }
  &.link.tertiary {
    &:hover {
      border-color: _color(tertiary);
    }
  }

  &.link {
    &:hover {
      border-width: 2px;
      border-style: solid;
      border-radius: 1rem;
      box-shadow: 0 0 30px 10px rgb(90, 70, 80);
      transition: 1s;

      button {
        filter: hue-rotate(25deg);
        transition: 2s;
      }
    }
  }

  &.feature {
    border: 2px solid transparent;
    border-radius: .75rem;
    background-color: _color(box-feature-bg);
    margin-bottom: 1rem;
    word-wrap: break-word;
    height: 100%;

    h3 {
      margin-bottom: .5rem;
    }

    p {
      font-size: .8125rem;
      line-height: 1.25rem;
    }

    p + p {
      margin-top: 1rem;
    }

    &.hero {
      text-align: center;

      p {
        //font-size: 1rem;
        //line-height: 1.5rem;
      }
    }

    &.small {
      padding: 1rem .5rem 1rem .5rem;

      p {
        font-size: .8125rem;
        line-height: 1.25rem;
      }

      p + p {
        margin-top: .75rem;
      }
    }
  }

  &.solid {
    background-color: _color(bg-box-secondary);
  }
}

@media only screen and (max-width: _breakpoint(step-two)) {
  .box {
    margin-bottom: 1rem;
  }
}
