header {
  box-sizing: border-box;
  width: 100%;
  padding: .75rem 0;

  .header-content {
    text-align: center;
    > div:nth-of-type(1) {
      margin-bottom: .5rem;
      margin-left: -1rem;
      .logo {
        max-width: 12rem;
      }
    }

    > div:nth-of-type(2) {
      color: _color(tertiary);
      font-family: _font(family-default);
      font-size: _font(size-medium);
      letter-spacing: .035rem;
    }
  }

  a {
    font-size: .875rem;
    font-weight: 500;
    text-decoration: none;
  }

  .icon {
    max-width: 5rem;
  }
}

@media only screen and (min-width: _breakpoint(step-one)) {

  header {
    padding: 1rem 0;

    .logo {
      max-width: 15rem;
    }

    .header-content {
      > div:nth-of-type(1) {
        text-align: left;
        margin-bottom: 0;
        margin-left: 0;
      }
      > div:nth-of-type(2) {
        text-align: right;
        font-size: _font(size-default);
      }
    }
  }
}

@media only screen and (max-width: _breakpoint(step-two)) {

  header {
    padding: 1rem 0;
    margin-bottom: 0;
    margin-left: 0;

    .header-content {
      &.flex-small {
        > div:nth-of-type(1) {
          text-align: center;
          margin-bottom: 0;
          margin-left: 0;
        }

        > div:nth-of-type(2) {
          text-align: center;
        }
      }
    }
  }
}
