header {
  box-sizing: border-box;
  width: 100%;
  padding: .75rem 0;

  &.header-content {
    > a:nth-of-type(1) {
      display: flex;
      justify-content: center;

      .pentacle-icon {
        max-width: 3rem;
        padding-bottom: .75rem;
      }
    }

    > a:nth-of-type(2) {
      display: flex;
      justify-content: center;

      .logo {
        max-width: 15rem;
      }
    }
  }
}

@media only screen and (min-width: _breakpoint(step-one)) {

  header {
    padding: 1rem 0;

    &.header-content {
      > a:nth-of-type(1) {
        justify-content: flex-start;
        .pentacle-icon {
          max-width: 4rem;
        }
      }

      > a:nth-of-type(2) {
        justify-content: flex-end;
        .logo {
          max-width: 20rem;
        }
      }
    }
  }
}

@media only screen and (max-width: _breakpoint(step-two)) {

  header {
    padding: 1rem 0;
    margin-bottom: 0;
    margin-left: 0;

    .header-content {
      &.flex-small {
        > div:nth-of-type(1) {

        }

        > div:nth-of-type(2) {

        }
      }
    }
  }
}
