a {
  text-decoration: none;
}

a.text-link {
  color: _color(body-text);
  text-decoration: none;

  h2, h3 {
    text-decoration-color: transparent;
    text-underline-offset: 0.15rem;
  }

  &:hover {
    h1, h2, h3 {
      color: rgb(253, 198, 225);
      text-decoration: underline;
      text-decoration-color: rgb(253, 198, 225);
      transition: 1.5s;
    }
  }
}

span {
  a.text-link {
    color: rgb(253, 198, 225);
    text-decoration: underline;
    &:hover {
      color: rgb(253, 198, 225);
      text-decoration: underline;
      text-decoration-color: rgb(253, 198, 225);
      transition: 1.5s;
    }
  }
}
