.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem 1rem;
}

@media screen and (max-width: _breakpoint(step-one)) {
  .grid {
    padding: 0 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
